[Unit]
Description=PostgresSQL service with Docker Compose
Requires=docker.service
After=docker.service

[Service]
Restart=always
TimeoutStartSec=300

WorkingDirectory={{ project_dir }}/postgres

# Compose up
ExecStart={{docker_compose_path}} up

# Compose down, remove containers and volumes
ExecStop={{docker_compose_path}} down -v

[Install]
WantedBy=multi-user.target